@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient-bonus {
  background: linear-gradient(
    343.36deg,
    #fe9874 -14.68%,
    #ffe9cc 38.16%,
    #ffeed6 47.67%,
    #ffffff 85.24%
  );
}

.bg-custom-gradient-bonus-two {
  background: radial-gradient(
    47.68% 50% at 100% 50%,
    rgba(209, 48, 19, 0.4) 0%,
    rgba(255, 233, 204, 0.4) 43.84%,
    rgba(250, 250, 251, 0) 100%
  );
}

.box-shadow-logo {
  box-shadow: -0.94px -0.94px 1.56px 0px #e9eaef inset;
}

.box-shadow-logo-footer {
  box-shadow: -1.54px -1.54px 2.57px 0px #e9eaef inset;
}

#lottie-container {
  width: 100%;
  height: 300px;
  margin: 40px auto;
}

.lottie-container {
  width: 200px;
  height: 600px;
  max-width: 100%;
}

/* If you want the container to be responsive */
@media (max-width: 768px) {
  .lottie-container {
    width: 150px;
    height: 450px;
  }
}

.box-shadow {
  box-shadow: 1px 2px 4px 0 #ebebebb5;
}

.box-shadow-icon {
  box-shadow: 1px 2px 4px 0 #3b404bb5;
}

.border-bottom:not(:last-child) {
  border-bottom: 0.5px solid #ebebeb;
}

.box-shadow-two {
  box-shadow: 2px 10px 9px 0 #ffd2c1;
}

.box-shadow-three {
  box-shadow: 0 4px 41px 0 rgba(238, 238, 238, 1);
}

@layer utilities {
  .bg-custom-gradient {
    background: radial-gradient(
      47.68% 100% at 30% 100%,
      rgba(209, 48, 19, 0.4) 0%,
      rgba(255, 233, 204, 0.4) 43.84%,
      rgba(250, 250, 251, 0) 100%
    );
  }

  .bg-custom-gradient-two {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        #f9faff 20%,
        #f0f4ff 48.6%,
        #f1f4ff 63.5%,
        #e6ebff 78.5%,
        #aec1ff 100%
      ),
      #ffffff;
  }

  .bg-custom-gradient-three {
    background: linear-gradient(0deg, #0e2c3e 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(0deg, rgba(122, 122, 122, 0.4), rgba(122, 122, 122, 0.4));
  }
  .bg-custom-gradient-four {
    background: linear-gradient(
      180deg,
      #252d46 1.81%,
      rgba(98, 106, 135, 0.80458) 37%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .bg-custom-gradient-bonus-three {
    background: radial-gradient(59.58% 65.29% at 50% 50%, rgba(209, 48, 19, 0.4) 0%, rgba(255, 233, 204, 0.4) 39%, rgba(250, 250, 251, 0) 75%);
  }

  .bg-custom-gradient-six {
    background:radial-gradient(72.58% 111.29% at 70% 100%, rgba(209, 48, 19, 0.4) 0%, rgba(255, 233, 204, 0.4) 39%, rgba(250, 250, 251, 0) 75%);
  }
  .bg-custom-gradient-five {
    background: linear-gradient(351.55deg, rgba(254, 152, 116, 0.6) -14.89%, rgba(255, 233, 204, 0.6) 40.09%, rgba(255, 238, 214, 0.6) 49.97%, rgba(255, 255, 255, 0.6) 89.06%),
    linear-gradient(0deg, #EBEBEB, #EBEBEB);
  }

  .bg-custom-gradient-why {
    background: linear-gradient(182.55deg, #FAFAFB 7.1%, rgba(255, 255, 255, 0) 106.62%);
  }

  .bg-custom-gradient-banner-why {
    background: radial-gradient(47.68% 84% at 79% 69%, rgba(209, 48, 19, 0.4) 0%, rgba(255, 233, 204, 0.4) 43.84%, rgba(250, 250, 251, 0) 100%)
  }
}

/* CSS для плавного открытия блока */
.search-result-enter {
  opacity: 0;
  transform: scale(0.95);
}

.search-result-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.search-result-exit {
  opacity: 1;
  transform: scale(1);
}

.search-result-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  height: 603px; /* Ensure this matches the height of your components */
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 1px solid red;
}

.slide-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
}

.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(100%);
}
.card-gradient-tb,
.card-gradient-bt,
.card-gradient-bg,
.card-r-gradient-bg {
  position: relative;
  overflow: hidden;
}

.card-gradient-tb::before,
.card-gradient-bt::before,
.card-gradient-bg::before,
.card-r-gradient-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1; /* Add this line */
}

.card-gradient-tb::before {
  background: linear-gradient(174deg, white 15%, #ffe9cc, #ffeed6, #ffb094 95%);
}

.card-gradient-bt::before {
  background: linear-gradient(174deg, #ffb094 15%, #ffeed6, #ffe9cc, white 75%);
}

.card-gradient-bg {
  background: linear-gradient(172deg, white 20%, #ffe9cc, #ffeed6, #ffb094 95%);
}

.card-r-gradient-bg::before {
  background: radial-gradient(
    circle at bottom right,
    #f4dad5 20%,
    #ffe9cc,
    #ffeed6,
    #ffffff 80%
  );
}

.mt4-hover::before {
  background: radial-gradient(circle, #f4dad5 30%, #fafaf9 70%);
}

.card-gradient-tb:hover::before,
.card-gradient-bt:hover::before,
.card-r-gradient-bg:hover::before {
  opacity: 1;
}

/* Add these new styles */
.card-content {
  position: relative;
  z-index: 2;
}

.mt4-hover:hover {
  background: radial-gradient(circle, #f4dad5 30%, #fafaf9 70%);
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUpMoreOne {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDownMoreOne {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUpMoreTwo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideDownMoreTwo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 3s ease-in-out infinite;
}

.animate-slide-down {
  animation: slideDown 3s ease-in-out infinite;
}

.animate-slide-upMore-one {
  animation: slideUpMoreOne 5s ease-in-out infinite;
}

.animate-slide-downMore-one {
  animation: slideDownMoreOne 5s ease-in-out infinite;
}

.animate-slide-upMore-two {
  animation: slideUpMoreTwo 5s ease-in-out infinite;
}

.animate-slide-downMore-two {
  animation: slideDownMoreTwo 5s ease-in-out infinite;
}


textarea::-webkit-scrollbar {
  padding-left: 20px;
  width: 3px;
  height: 3px;
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
}

textarea::-webkit-scrollbar-thumb {
  background: #0F2777;
  height: 20px;
  border-radius: 20px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}



.PhoneInputCountry {
  padding: 14px 8px;
  border-radius: 8px;
  background-color: #F6F6F6;
  margin-right: 8px;
}

.PhoneInputInput {
  outline: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #182654 !important;
}

.PhoneInputCountryIcon, .PhoneInputCountryIcon--border, .PhoneInputCountryIconImg {
  border: 0 !important;
  object-fit: cover;
  margin-right: 10px;
  box-shadow: none !important;
}

.PhoneInputCountrySelectArrow {
  width: 7px !important;
  height: 7px !important;
  margin-right: 2px !important;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale-in {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease forwards;
}

.animate-scale-in {
  animation: scale-in 0.3s ease forwards;
}
